.form-group, .btn {
    margin: 1%;
}
.form-group {
    margin-top: 1.75%;
    margin-bottom: 1.75%;
    font-weight: 600;
}
.message {
    font-size: 1.2em;
    text-align: center;
    color: #36a936;
  }